$base-width: 750;

@function px2rem($num) {
  @return #{$num / $base-width * 10}rem;
}

@mixin container-base {
  background-color: #fcf3e4;
  min-height: 100vh;
}

@mixin content-wrapper-base {
  padding-top: 3rem;
  box-sizing: border-box;
}

@mixin tabs-container-base {
  position: fixed;
  top: 1.2rem;
  left: 0;
  right: 0;
  height: calc(100vh - 1.2rem);
  overflow-y: scroll;
}